SUPABASE_URL=https://sktsjihzrciyhyhlkgjt.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNrdHNqaWh6cmNpeWh5aGxrZ2p0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYyNjIxNTMsImV4cCI6MjA4MTgzODE1M30.fA9tya7KW-E2BiJbCsnk2EzuWtENxOt4qZj3E9LlsAc
